alabaster
anaconda-client
anaconda-navigator
anaconda-project
annotated-types
anyascii
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
atomicwrites
attrs
autogen
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bandit
bcrypt
beautifulsoup4
binaryornot
black
bleach
bokeh
boltons
Bottleneck
brotlipy
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
conda_package_streaming
constantly
contourpy
contractions
cookiecutter
cryptography
cssselect
cycler
cytoolz
daal4py
dacite
dask
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
dill
diskcache
distributed
distro
dnspython
docker
docopt
docstring-to-markdown
docutils
email_validator
entrypoints
et-xmlfile
executing
fastapi
fastapi-cli
fastjsonschema
filelock
flake8
FLAML
Flask
flit_core
fonttools
fsspec
fst-pso
ftfy
funcy
future
FuzzyTM
gensim
gitdb
GitPython
glob2
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
HeapDict
holoviews
htmlmin
httpcore
httplib2
httptools
httpx
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
ImageHash
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflect
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.gstreamer
kivy-deps.sdl2
Kivy-Garden
kiwisolver
langdetect
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
menuinst
miniful
mistune
mkl-fft
mkl-random
mkl-service
mock
more-itertools
mpmath
msgpack
multimethod
multipledispatch
munkres
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nh3
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai
openpyxl
packaging
pandas
pandas-profiling
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy
pbr
pep8
pexpect
phik
pickleshare
Pillow
pkginfo
platformdirs
plotly
pluggy
ply
pooch
poyo
prometheus-client
prompt-toolkit
Protego
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py
pyahocorasick
pyairtable
pyasn1
pyasn1-modules
pyautogen
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pydocstyle
pyerfa
pyflakes
pyFUME
Pygments
PyHamcrest
PyJWT
pyLDAvis
pylint
pylint-venv
pyls-spyder
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypiwin32
PyQt5
PyQt5-sip
PyQtWebEngine
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
readme_renderer
regex
requests
requests-file
requests-toolbelt
rfc3986
rich
rope
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scikit-learn-intelex
scipy
Scrapy
seaborn
Send2Trash
service-identity
shellingham
simpful
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
starlette
statsmodels
stevedore
sympy
tables
tabulate
TBB
tblib
tenacity
termcolor
terminado
text-unidecode
textdistance
textsearch
threadpoolctl
three-merge
tifffile
tiktoken
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
twine
Twisted
twisted-iocpsupport
typeguard
typer
typing_extensions
tzdata
ujson
Unidecode
uritemplate
urllib3
uvicorn
visions
w3lib
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wincertstore
wordcloud
wrapt
xarray
xlwings
yapf
ydata-profiling
zict
zipp
zope.interface
zstandard
